In [220]:
import pandas as pd
import numpy as np

In [221]:
shark = pd.read_excel('GSAF5.xls')
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2022.07.03.a,03-Jul-2022,2022.0,Unprovoked,USA,New York,"Smith Point Beach, Suffolk County",Lifeguard Exercises,Zach Gallo,M,...,5'shark,"ABC7,7/3/2022",2022.07.03.a-Gallo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.03.a,2022.07.03.a,6774.0,NaN,NaN
1,2022.07.01.b,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Romanian female,F,...,NaN,"M. Michaeilson, GSAF",2022.07.01.b-Egypt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.b,2022.07.01.b,6773.0,NaN,NaN
2,2022.07.01.a,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Elisabeth Sauer,F,...,2m shark,"M. Michaeilson, GSAF",2022.07.01.a-Squire.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.a,2022.07.01.a,6772.0,NaN,NaN
3,2022.06.30.b,30-Jun-2022,2022.0,Unprovoked,USA,New York,"Jones Beach, Nassau County",Swimming,male,M,...,Shark involvement not confirmed,"New York Post,, 7/2/2022","2022.06.30.bJonesBeach, pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.06.30.b,2022.06.30.b,6771.0,NaN,NaN
4,2022.06.30.a,30-Jun-2022,2022.0,Unprovoked,USA,Florida,"Keaton Beach,",Scalloping,Addison Bethea,F,...,9' shark,"A. Currie, GSAF",2022.06.30.a-Bethea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.06.30.a,2022.06.30.a,6770.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25832,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
shark.shape

(25833, 24)

In [224]:
shark.describe()

              Year  original order
count  6772.000000     6774.000000
mean   1932.323243     3388.496900
std     275.933296     1955.625246
min       0.000000        2.000000
25%    1945.000000     1695.250000
50%    1983.000000     3388.500000
75%    2008.000000     5081.750000
max    2022.000000     6774.000000

In [225]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25833 entries, 0 to 25832
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8811 non-null   object
 1   Date                    6774 non-null   object
 2   Year                    6772 non-null   float64
 3   Type                    6755 non-null   object
 4   Country                 6724 non-null   object
 5   Area                    6299 non-null   object
 6   Location                6216 non-null   object
 7   Activity                6197 non-null   object
 8   Name                    6557 non-null   object
 9   Sex                     6198 non-null   object
 10  Age                     3818 non-null   object
 11  Injury                  6740 non-null   object
 12  Fatal (Y/N)             6218 non-null   object
 13  Time                    3292 non-null   object
 14  Species                 3720 non-null   object
 15  Investigator or Source  6756 non-null   object
 16  pdf                     6773 non-null   object
 17  href formula            6817 non-null   object
 18  href                    6771 non-null   object
 19  Case Number.1           6773 non-null   object
 20  Case Number.2           6772 non-null   object
 21  original order          6774 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [226]:
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [227]:
# Remover colunas que não irei utilizar
shark_df = shark.drop(['Case Number', 'Type', 'Location', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis = 1)

In [228]:
shark_df.shape

(25833, 12)

In [229]:
shark_df.head()

,Date,Year,Country,Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,03-Jul-2022,2022.0,USA,New York,Lifeguard Exercises,Zach Gallo,M,NaN,Injuries to chest and right hand,N,10h15,5'shark
1,01-Jul-2022,2022.0,EGYPT,"Hurghada, Red Sea Governorate",Swimming,Romanian female,F,40s,FATAL,Y,NaN,NaN
2,01-Jul-2022,2022.0,EGYPT,"Hurghada, Red Sea Governorate",Swimming,Elisabeth Sauer,F,68,FATAL,Y,NaN,2m shark
3,30-Jun-2022,2022.0,USA,New York,Swimming,male,M,NaN,Injury to right foot,N,13h00,Shark involvement not confirmed
4,30-Jun-2022,2022.0,USA,Florida,Scalloping,Addison Bethea,F,17,Severe bite to right leg,N,15h00,9' shark

In [230]:
shark_df = shark_df['Country'].str.lower()

In [205]:
shark_df = shark_df['Country'].str.lower()
shark_df = shark_df['Injury'].str.lower()
shark_df = shark_df['Area'].str.lower()
shark_df = shark_df['Activity'].str.lower()
shark_df = shark_df['Name'].str.lower()
shark_df = shark_df['Injury'].str.lower()
shark_df = shark_df['Fatal (Y/N)'].str.lower()

KeyError: 'Country'

In [179]:
shark_df = shark_df[shark_df['Country','Area', 'Sex', 'Activity', 'Injury', 'Fatal (Y/N)'].str.lower(), axis=0]

SyntaxError: invalid syntax (3003403722.py, line 1)

In [121]:
shark['Fatal (Y/N)'].isnull().sum()

19615

In [144]:
shark_fatal = shark[shark['Injury'] == 'FATAL']
shark_fatal.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1,2022.07.01.b,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Romanian female,F,...,NaN,"M. Michaeilson, GSAF",2022.07.01.b-Egypt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.b,2022.07.01.b,6773.0,NaN,NaN
2,2022.07.01.a,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Elisabeth Sauer,F,...,2m shark,"M. Michaeilson, GSAF",2022.07.01.a-Squire.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.a,2022.07.01.a,6772.0,NaN,NaN
7,2022.06.28,28-Jun-2022,2022.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Sanctuary Beach, Plettenberg Bay",Swimming,Bruce Wolov,M,...,While shark,"M. Michaelson, GSAF","2022,06.28-Wolov.pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.06.28,2022.06.28,6767.0,NaN,NaN
29,2022.03.18,18-Mar-2022,2022.0,Unprovoked,COLUMBIA,Isla De San Andres,La Piscinita,Swimming,Antonio Straccialini,M,...,Tiger shark,"R. Babington & S. Fe Marchi, GSAF &; K McMurray",2022.03.18-Straccialini.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.03.18,2022.03.18,6746.0,NaN,NaN
38,2022.02.16,16-Feb-2022,2022.0,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,...,NaN,"7News,2/16/2022",2022.02.16-Nellist.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.02.16,2022.02.16,6737.0,NaN,NaN

In [131]:


shark_fatal = shark[shark['Fatal (Y/N)'].str.lower() == 'y']
shark_fatal.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1,2022.07.01.b,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Romanian female,F,...,NaN,"M. Michaeilson, GSAF",2022.07.01.b-Egypt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.b,2022.07.01.b,6773.0,NaN,NaN
2,2022.07.01.a,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Elisabeth Sauer,F,...,2m shark,"M. Michaeilson, GSAF",2022.07.01.a-Squire.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.a,2022.07.01.a,6772.0,NaN,NaN
7,2022.06.28,28-Jun-2022,2022.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Sanctuary Beach, Plettenberg Bay",Swimming,Bruce Wolov,M,...,While shark,"M. Michaelson, GSAF","2022,06.28-Wolov.pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.06.28,2022.06.28,6767.0,NaN,NaN
29,2022.03.18,18-Mar-2022,2022.0,Unprovoked,COLUMBIA,Isla De San Andres,La Piscinita,Swimming,Antonio Straccialini,M,...,Tiger shark,"R. Babington & S. Fe Marchi, GSAF &; K McMurray",2022.03.18-Straccialini.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.03.18,2022.03.18,6746.0,NaN,NaN
38,2022.02.16,16-Feb-2022,2022.0,Unprovoked,AUSTRALIA,New South Wales,"Buchan Point, Sydney",Swimming,Simon Nellist,M,...,NaN,"7News,2/16/2022",2022.02.16-Nellist.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.02.16,2022.02.16,6737.0,NaN,NaN

In [64]:
shark['Country'].isnull().sum()

19109

In [91]:
shark_country = shark['Country'].str.lower()

In [65]:
shark['Activity'].isnull().sum()

19636

In [87]:
shark_activity = shark['Activity'].str.lower()